/*variables */
@font-face {
    font-family: 'MiFuente';
    src: url(../y2k_brutalism/Y2K\ Brutalism\ Typeface.otf) format('truetype');
}

:root {
    --font-array: 'Array', sans-serif;
}

/*base y flex*/
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor de la computadora */
.monitor-area {
    position: relative;
    width: 100vmin; 
    height: 100vmin; 
    background-image: url(../imagenes/compu.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'MiFuente', sans-serif;
}

/* Inicio*/
.ini {
    position: absolute;
    top: 28%;
    left: 40%; 
    transform: translate(-50%, -50%);
    width: 60%; 
    z-index: 10;
    display: flex;
    flex-direction: column;   
    align-items: center;       
    text-align: center;        
    gap: 20px;
}

.ini h1 {
    font-size: 3vmin; 
    color: rgb(230, 238, 255);
    text-shadow: 0 0.2vmin 0.4vmin #04040c;
    margin: 0 0vmin 0vmin 15vmin;
}

.ini h2 {
    font-size: 2vmin;
    color: rgb(13, 3, 61);
    text-shadow: 0 0.2vmin 0.4vmin #f3f3f3;
    margin: 0 0vmin 0vmin 15vmin;
    line-height: 1.2;
    font-family: var(--font-array);
}

/* botón estilo Windows retro */
.bt {
    font-family: 'MS Sans Serif', 'Microsoft Sans Serif', Tahoma, sans-serif;
    font-size: 2vmin;
    padding: 0.5vmin 1.5vmin;
    min-width: 9vmin;
    height: auto;
    background: #c0c0c0;
    color: #424242;
    border: none;
    outline: 0.2vmin solid;
    outline-color: #ffffff #808080 #808080 #ffffff;
    box-shadow:
        inset 1px 1px 0px #dfdfdf,
        inset -1px -1px 0px #808080;
    cursor: pointer;
    user-select: none;
    line-height: 1;
    text-align: center;
    display: inline-block;
    margin: 0 2vmin 0vmin 15vmin;
}

.bt a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.bt:hover {
    box-shadow:
        inset 1px 1px 0px #808080,
        inset -1px -1px 0px #dfdfdf;
    outline-color: #808080 #ffffff #ffffff #808080;
}

/*ubicación de stickers*/
.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centro, .izq, .der, .centro-der, .centro-iz {
    position: absolute;
    display: flex;
}

.centro {
    bottom: 43%; 
    left: 33%;
    transform: translateX(-50%);
    gap: 100%; 
    z-index: 6;
}

.centro-der {
    right: 23%; 
    top: 10%;
    flex-direction: column;
    gap: 7vmin;
    z-index: 5;
}

.centro-iz {
    left: 13%;
    top: 15%;
    flex-direction: column;
    gap: 9vmin;
    z-index: 60;
}

.izq {
    bottom: 15%;
    left: -30%;
    z-index: 5;
}

.der {
    bottom: 10%;
    right: -30%;
    width: 35%;
    height: 25%;
    display: block;
    z-index: 1;
}

/* estilos para img*/
.img img {
    height: auto;
    position: relative;
    transition: transform 0.4s ease;
}

/* Tamaños y rotaciones base */
#gato { width: 10vmin; transform: rotate(30deg); }
#cool { width: 10vmin; transform: rotate(27deg); }

#mate { 
    width: 26vmin; 
    left: -40%;
    bottom: -17vmin;
    transform-origin: bottom right; 
    transition: transform 0.5s ease-out; 
}

#pava { width: 45vmin; left: -30%; bottom: -15vmin;}

#gato-der { 
    width: 60vmin; 
    position: absolute;
    right: -40%;           
    bottom: -17vmin; 
    z-index: 3;         
}

#lib {
    width: 97vmin;       
    position: absolute; 
    left: -118%;        
    bottom: -98%;
    z-index: 2;         
}

/* Stickers  */
#al { width: 7vmin; transform: rotate(-22deg); left: 25%; top: 10%; }
#ju { width: 7vmin; transform: rotate(-20deg); left: 33%; }
#gus { width: 8vmin; transform: rotate(-44deg); left: 7%; top: 5vmin; }
#cora { width: 10vmin; transform: rotate(-20deg); left: 10%;}
#perro { width: 7vmin; left: 19%;}

/* Efecto hover */
#gato:hover, #cool:hover, #al:hover, #ju:hover, #gus:hover, #cora:hover {
    transform: scale(1.1);
}

#perro:hover { 
    transform: translateY(-0.5vmin); 
}