/* Fuentes, variables*/
:root {
    --win-gris: #c0c0c0;
    --win-blan: #ffffff;
    --win-somb: #808080;
    --win-azul: #000080;
    --font-array: 'Array', sans-serif; 
}

body {
    background-image: url(../imagenes/fondo.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-array);
    overflow: hidden; /* Mantiene la pantalla fija sin scroll de navegador */
}

/*Distribucion escritorio windows*/
.escritorio {
    width: 100vw;
    height: calc(200vh - 640px); 
    position: relative;
    padding: 52px 40px 4px ;
    box-sizing: border-box;
}

/* Barra de nav superior */
.barra-navegacion-superior {
    position: fixed; /* Se queda clavado en la pantalla */
    top: 8px;       /* Separación del monitor */
    left: 50%;
    transform: translateX(-50%); 
    width: 95vw;
    max-width: 740px;
    background: var(--win-gris);
    border: 2px solid;
    border-color: var(--win-blan) var(--win-somb) var(--win-somb) var(--win-blan);
    padding: 4px;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1000; /* Asegura que pase por encima de cualquier otra ventana */
    overflow: hidden;
}

.nav-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    flex-wrap: nowrap;
    width: 100%;
}

.btn-nav {
    flex-grow: 1;      /*todos los botones miden lo mismo y se repartan el espacio */
    flex-shrink: 1;    /*da permiso obligatorio para q se achiquen */
    text-align: center;
    white-space: nowrap; 
    background: var(--win-gris);
    border: 2px solid;
    border-color: var(--win-blan) var(--win-somb) var(--win-somb) var(--win-blan);
    color: #000000 !important; 
    text-decoration: none;
    font-size: 10px;         
    padding: 4px 2px;   
    font-weight: bold;
}

/* Efecto click en los botones del menú */
.btn-nav:active {
    border-color: var(--win-somb) var(--win-blan) var(--win-blan) var(--win-somb);
    padding: 5px 0.2em 3px 0.4em;
}

.fila-ventanas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 95vw;
    max-width: 768px;
    height: calc(100% - 70px); /* ajuste de altura disponible */
}

.columna-lateral {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 210px;
    flex-shrink: 0;
}

.contenedor-central {
    position: fixed;
    top: 48px;              
    left: 50%;             
    transform: translate(-50%); 
    width: 92vw;
    max-width: 740px;       /* Ancho de la ventana de la guía */
    height: calc(100vh - 120px); /*mide todo el alto pero resta el navegador y barra de abajo*/
    z-index: 10;            /* Queda en una capa intermedia, bajo el menú */
}

/* ventana principal (Página real)*/
.ventana-principal {
    background: var(--win-gris);
    width: 100%;
    height: 100%;           
    border: 2px solid;
    border-color: var(--win-blan) var(--win-somb) var(--win-somb) var(--win-blan);
    box-shadow: 8px 8px 0px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.barra-titulo {
    background: linear-gradient(90deg, var(--win-azul), #1084d0);
    color: white;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
}

.btn-win {
    background: var(--win-gris);
    color: black;
    border: 1px solid;
    border-color: var(--win-blan) var(--win-somb) var(--win-somb) var(--win-blan);
    width: 18px; height: 18px;
    text-align: center; line-height: 14px;
    font-size: 11px;
    cursor: pointer;
}

/* contenedor con scroll interno */
.pantalla-contenido {
    background: white;
    flex-grow: 1;
    margin: 2px;
    border: 2px solid var(--win-somb);
    overflow-y: scroll; /* Scroll web para navegar */
    padding: 25px;
}

.seccion-bloque {
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.separador-retro {
    border: 0;
    border-top: 2px dashed var(--win-somb);
    margin: 20px 0;
}

/*mini ventanas a los costados*/
.mini-ventana {
    position: fixed; /* Se clavan en la pantalla */
    background: var(--win-gris);
    width: 190px;    /* Ancho estándar */
    border: 2.5px solid;
    border-color: var(--win-blan) var(--win-somb) var(--win-somb) var(--win-blan);
    box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
    padding: 2px;
    z-index: 50;    
}

.barra-titulo-mini {
    background: #808080; 
    color: white;
    padding: 2px 6px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
}

.btn-win-mini { /*equis X*/
    background: var(--win-gris);
    color: black;
    border: 1px solid;
    border-color: var(--win-blan) var(--win-somb) var(--win-somb) var(--win-blan);
    width: 14px; height: 14px;
    font-size: 8px; 
    text-align: center; 
    line-height: 11px;
    cursor: pointer;
}

.contenido-mini {
    background: #ffffe1;
    border: 1px solid var(--win-somb);
    padding: 5px;
}

.contenido-mini-ad {
    background: #ecebeb;
    border: 1px solid var(--win-somb);
    display: flex;
    justify-content: center; 
    align-items: center;    
    padding: 5px;           
}

/* ventana de video*/
.ventana-video {
    box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
}

.video-titulo {
    background: linear-gradient(90deg, #0a659e, #1084d0) !important; 
}

.contenido-mini-video {
    background: #000000;
    border: 1px solid var(--win-somb);
    padding: 2px;
}

.reproductor-controles {
    background: var(--win-gris);
    color: black;
    padding: 4px;
    font-size: 11px;
    text-align: left;
    border-top: 2px solid var(--win-blan);
    margin-top: 2px;
}

/* contenidos y textos*/
h1 { 
    font-size: 1.5rem; 
    color: var(--win-azul); 
    margin-bottom: 8px; 
}

h2 { 
    font-size: 1.2rem; 
    margin-bottom: 12px; 
    color: #111;
    border-top: 1.5px solid rgb(212, 212, 212);
    border-bottom: 1.3px solid rgb(214, 213, 213); 
    padding-bottom: 4px;
}

h3 { 
    margin: 12px 0 6px 0; 
    font-size: 13px; 
}

p { 
    line-height: 1.4; 
    margin-bottom: 10px; 
    font-size: 14px; 
}

ul, ol { 
    margin-left: 20px; 
    margin-bottom: 12px; 
    font-size: 14px; 
}

li { 
    margin-bottom: 4px; 
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    margin: 15px 0; 
    font-size: 12px; 
}

th { 
    background: var(--win-gris); 
    padding: 6px; 
    border: 1px solid var(--win-somb); 
    font-weight: bold; 
}

td { 
    padding: 6px; 
    border: 1px solid #ccc; 
}

.imagen { 
    text-align: center; 
    margin: 15px 0; 
}

.link-volver { 
    color: var(--win-azul); 
    text-decoration: none; 
    font-size: 12px; 
    display: inline-block; 
    margin-top: 5px; 
}

.win-link { 
    color: #b00000; 
    font-weight: bold;
}

#link-pag {
    color: #b00000;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

/* footer */
footer {
    position: fixed;
    bottom: 0; width: 100%;
    background: var(--win-gris);
    border-top: 2px solid var(--win-blan);
    padding: 5px 55px;
    z-index: 500;
}

.copyright { 
    text-align: center; 
    font-size: 17px; 
    color: rgb(43, 44, 65); 
    margin-top: 2px; 
}

/*titulo de los tips*/
.contenido-mini h3 {
    text-align: center;
}

/*texto de los tips*/
.contenido-mini p {
    text-align: left;
}

/* --- Ventanas del lado Izq --- */
.v-video {
    top: 400px;       
    left: 2vw;       
    width: 240px; 
    z-index: 60;
}

.v-ergo {
    top: 270px;      
    left: 4.5vw;      
    z-index: 58;
}

.v-pub1 {
    bottom: 330px;    
    left: 2.7vw;
}

/* --- Ventanas del lado Derecho --- */
.v-vista {
    top: 6px;       
    right: 2vw; 
    width: 200px;     
}

.v-pub2 {
    top: 230px;      
    right: 2.5vw; 
    width: 190px;  
    z-index: 59;   
}

.v-diseno {
    bottom: 35px;    
    right: 1vw; 
    z-index: 60;
}

.v-link {
    bottom: 394px;
    right: 1vw; 
    width: 200px;
    z-index: 58;
}

/*responsive */
@media (max-width: 1220px) {
    .v-video, .v-ergo, .v-pub1, .v-vista, .v-pub2, .v-diseno, .v-link, .columna-lateral { 
        display: none !important; 
    } 
}

@media (max-width: 600px) {
    .barra-navegacion-superior { 
        width: 94vw; 
    }
    /* Achica los botones*/
    .btn-nav {
        font-size: 1.7vw;    
        padding: 3px 1px;
    }
    .nav-contenido {
        flex-wrap: nowrap;       
        overflow-x: auto;        /* Activa el scroll horizontal si no entran */
        justify-content: flex-start; /* Alinea los botones al inicio para deslizar */
        padding-bottom: 5px;     /* Deja un aire abajo para que no toque el borde */
        -webkit-overflow-scrolling: touch; /* deslizamiento en celu suave */
    }

    
}




