
/*Fondo y tipografía*/
body {
 background-image: url(../imagenes/compu.gif);
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 font-family: 'Array', sans-serif;
 margin: 0;
 height: 100vh;
 width: 100vw;
 overflow-x: hidden;
 position: relative;
}

/*Título - centrado exacto dentro de la pantalla de la compu*/
.ini {
 position: absolute;
 top: 28%;
 left: 49%;
 transform: translate(-50%, -50%);
 text-align: center;
 width: 340px;
 max-width: 90vw;
 z-index: 10; /* Asegura que el botón esté arriba de todo */
}

.ini h1 {
 font-size: 20px;
 color: rgb(1, 17, 17);
 text-shadow: 0 2px 4px #0b9460;
 margin: 0 0 20px 0;
}

.ini h2 {
 font-size: 10px;
 color: rgb(1, 15, 15);
 text-shadow: 0 2px 4px #0b9460;
 margin: 0 0 30px 0;
}

/*Botón*/
.bt {
 font-family: 'MS Sans Serif', 'Microsoft Sans Serif', Tahoma, sans-serif;
 font-size: 11px;
 padding: 3px 16px;
 min-width: 75px;
 height: 23px;
 background: #c0c0c0;
 color: #424242;
 border: none;
 outline: 2px solid;
 outline-color: #ffffff #808080 #808080 #ffffff;
 box-shadow:
 inset 1px 1px 0px #dfdfdf,
 inset -1px -1px 0px #808080;
 cursor: pointer;
 user-select: none;
 line-height: 1;
 text-align: center;
 display: inline-block;
}

.bt:hover {
 box-shadow:
 inset 1px 1px 0px #808080,
 inset -1px -1px 0px #dfdfdf;
 outline-color: #808080 #ffffff #ffffff #808080;
}

/* Contenedor principal de imágenes */
.img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

/* Cada grupo de imágenes */
.centro,
.izq,
.der {
 position: absolute;
 display: flex;
}

/* Grupo del centro - abajo */
.centro {
 bottom: 44%;
 left: 45%;
 transform: translateX(-50%);
 align-items: center;
 flex-wrap: nowrap;
 flex-direction: row;
 gap: 80px;
}

/* Grupo izquierdo - costado izquierdo */
.izq {
 top: 80%;
 left: 0%;
 transform: translateY(-60%);
 align-items: flex-start; 
}

/* Grupo derecho - costado derecho */
.der {
 top: 50%;
 right: 5%;
 transform: translateY(-50%);
 align-items: flex-end;
}

/* Estilo de todas las imágenes */
.img img {
 height: auto;
 border-radius: 20%;
 display: block;
}

/*Tamaño individual de cada imagen*/
#gato{ 
    width: 66px; 
}
#gato:hover {
    transform: rotate(10deg); 
    transition: 0.3s; 
}

#cool { 
    width: 50px; 
}
#cool:hover {
    transform: rotate(-10deg);
    transition: 0.4s;
}
#mate { 
    width: 190px; 
    margin-bottom: 5px;
}
#pava { 
    width: 280px;
    display: block;
}
#gato-der { 
    width: 180px; 
}